.main{
    padding-top: 80px;
    padding-bottom: 188px;
    @media (max-width: $small_devices){
        padding-bottom: 314px;
    }
    .GMG_logo{
        width: 308px;
        height: 53px;
        display: block;
        @include retina-image('../img/GMG-logo-horizontal', 'png');
        /*@media (max-width: $tablet_landscape){
            width: 308px * $tablet_ratio;
            height: 53px * $tablet_ratio;
            @include retina-image('../img/GMG-logo-horizontal', 'png');
        }*/
        @media (max-width: $small_devices){
            width: 308px;
            height: 53px;
            margin: auto;
            @include retina-image('../img/GMG-logo-horizontal', 'png');
        }
        /*@media (max-width: $iphone4){
            width: 308px * $iphone4_ratio;
            height: 53px * $iphone4_ratio;
            margin: auto;
            @include retina-image('../img/GMG-logo-horizontal', 'png');
        }*/
    }
    .product_shots_mobile{
        @include retina-image('../img/product-shots-tablet-mobile', 'png');
        display: none;
        @media (max-width: $small_devices){
            width: 100%;
            height: 848px * $small_devices_ratio;
            display: block;
            margin: auto;
        }
        /*@media (max-width: $medium_small_devices){
            width: 100%;
            height: 848px * $iphone4_ratio;
            display: block;
            margin: auto;
        }*/
    }
    .app-store-btn{
        width: 203px;
        height: 60px;
        display: block;
        @include retina-image('../img/app-store-button', 'png');
    }
    .product_shots{
        width: 100%;
        height: 591px;
        @include retina-image('../img/product-shots-desktop', 'png');
        margin-top: -50px;
        @media (max-width: $large_devices){
            width: 100%;
            height: 424px * $tablet_ratio;
            margin-top: 53px;
            @include retina-image('../img/product-shots-tablet-mobile', 'png');
        }
        @media (max-width: $medium_devices){
            width: 100%;
            height: 424px * $medium_devices_ratio;
            margin-top: 53px;
            @include retina-image('../img/product-shots-tablet-mobile', 'png');
        }
        @media (max-width: $small_devices){
            display: none;
        }
    }
    .characters{
        width: 100%;
        height: 335px;
        @include retina-image('../img/characters', 'png');
        @media (max-width: $large_devices){
            width: 100%;
            height: 357px;
            @include retina-image('../img/characters-tablet', 'png');
        }
        @media (max-width: $small_devices){
            width: 100%;
            height: 276px * $iphone6_ratio;
            @include retina-image('../img/characters-mobile', 'png');
        }
        /*@media (max-width: $iphone4){
            width: 100%;
            height: 276px * $iphone4_ratio;
            @include retina-image('../img/characters-mobile', 'png');
        }*/
    }
}