* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: no-common-ligatures;
    @include vendor('font-feature-settings', "liga" 0, "clig" 0);
}
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: $dark_color;
    font-size: 16px;
    font-family: $rubik-regular;
    line-height: 1.5em;
    font-weight: 400;
    background-color: $white;
}
.wrapper{
    min-height: 100%;
    position: relative;
}
#home{
    @include background-gradient(-179deg, #13323D, #1B4D5F);
    h1{
        color: $white;
    }
    p{
        color: white;
        font-size: $body-text;
    }
}

h1 {
    font-family: $rubik-medium;
    color: $dark_color;
    font-size: $h1;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: 500;
}
h2 {
    font-family: rubikmedium, Helvetica, Arial, sans-serif;
    color: $dark_color;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 1.25em;
}
h3 {
}
p {
}
