$mainBackground: linear-gradient(-179deg, #13323D 0%, #1B4D5F 100%);
$footerBackground: #181818;

$extra_small_devices: 320px;
$medium_small_devices: 480px;
$small_devices: 767px;
$medium_devices: 991px;
$large_devices: 1024px;

$medium_devices_ratio: 0.968;
$small_devices_ratio: 0.774;
$medium_small_devices: 1;


$tablet_ratio: 1.2;
$iphone6_ratio: 0.87;
$iphone4_ratio: 0.62;