// Colors
$footerBackground: #181818;
$white: #ffffff;
$dark_color: #1B4D5F;


// Braikpoints
$extra_small_devices: 320px;
$medium_small_devices: 480px;
$small_devices: 767px;
$medium_devices: 991px;
$large_devices: 1024px;

// Size ratio
$medium_devices_ratio: 0.968;
$small_devices_ratio: 0.774;
$medium_small_devices: 1;
$tablet_ratio: 1.2;
$iphone6_ratio: 0.87;
$iphone4_ratio: 0.62;

// Fonts-families
$rubik-regular: rubikregular, Helvetica, Arial, sans-serif;
$rubik-medium: rubikmedium, Helvetica, Arial, sans-serif;
$rubik-bold: rubikbold, Helvetica, Arial, sans-serif;

// Size
$h1: 38px;
$body-text: 18px;
