@mixin opacity($op, $ie-op) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="$ie-op")";
    /* IE 5-7 */
    filter: alpha(opacity=$ie-op);
    /* Netscape */
    -moz-opacity: $op;
    /* Safari 1.x */
    -khtml-opacity: $op;
    /* Good browsers */
    opacity: $op;
}
@mixin border-radius($param) {
    -webkit-border-radius: $param;
    -moz-border-radius: $param;
    -ms-border-radius: $param;
    -o-border-radius: $param;
    border-radius: $param;
}

@mixin box-shadow($a, $b, $c, $color) {
    box-shadow: $a $b $c $color;
    -moz-box-shadow: $a $b $c $color;
    -webkit-box-shadow: $a $b $c $color;
}

@mixin background-gradient($a, $start-color, $stop-color) {
    background: -moz-linear-gradient($a, $start-color 0%, $stop-color 100%); /* FF3.6+ */
    background: -webkit-linear-gradient($a, $start-color 0%, $stop-color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($a, $start-color 0%, $stop-color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($a, $start-color 0%, $stop-color 100%); /* IE10+ */
    background: linear-gradient($a, $start-color 0%, $stop-color 100%); /* W3C */
}