$mainBackground: linear-gradient(-179deg, #13323D 0%, #1B4D5F 100%);
$footerBackground: #181818;

$iphone4: 480px;
$iphone6: 666px;
$tablet_portrait: 768px;
$tablet_landscape: 1024px;

$tablet_ratio: 1.2;
$iphone6_ratio: 0.87;
$iphone4_ratio: 0.62;